xcuserdata
GX.pro.user
*.v12.suo
*.sdf
project/vs/x64/
project/vs/x86/
project/vs/ipch/
project/build-GX*
bin/
project/vs/GX.opensdf
*.pro.user
tool/cmd/text_editor/project/build-*
product/vs/lib/
external/pthread-win32/lib/
external/pthread-win32/include/
external/pthread-win32/pthread-win32/
test/project/vs/x64/
test/project/vs/x86/
