xcuserdata
*.pro.user
*.suo
*.sdf
*.vcxproj.user
*.opensdf
bin/
product/vs/lib/
product/qt/
project/vs/x64/
project/vs/x86/
project/vs/ipch/
project/build-GX*
test/project/vs/x64/
test/project/vs/x86/
test/project/build-*
external/pthread-win32/lib/
external/pthread-win32/include/
external/pthread-win32/pthread-win32/
tool/cmd/text_editor/project/build-*
tool/cmd/sl/project/build-*
project/qt/debug/
project/qt/release/
project/qt/obj/
project/qt/moc/
project/qt/Makefile*
.qmake.stash
*.o
moc_*.cpp
external/zlib/lib/
external/zlib/project/vs/x64/
external/zlib/project/vs/x86/
external/libpng/lib
external/libjpeg/lib
external/freetype/lib
external/libpng/project/vs/x64/
external/libpng/project/vs/x86/
external/libjpeg/project/vs/x64/
external/libjpeg/project/vs/x86/
