xcuserdata
GX.pro.user
*.v12.suo
*.sdf
project/vs/x64/
project/vs/Win32/
project/vs/ipch/
project/build-GX*
tool/cmd/sed/project/vs/x64/
tool/cmd/sed/project/vs/Win32/
bin/
project/vs/GX.opensdf
*.pro.user
tool/cmd/text_editor/project/build-*
