
//OS dir
GX_OS_DIR_NAME[sdk=iphoneos*]            = ios
GX_OS_DIR_NAME[sdk=iphonesimulator*]     = ios
GX_OS_DIR_NAME[sdk=appletvos*]           = atv
GX_OS_DIR_NAME[sdk=appletvsimulator*]    = atv
GX_OS_DIR_NAME[sdk=macosx*]              = mac

//External
GX_EXTERNAL_ZLIB_INC = $(GX_ROOT)/external/zlib/include
GX_EXTERNAL_ZLIB_LIB = $(GX_ROOT)/external/zlib/lib/$(GX_OS_DIR_NAME)/libzlib.a

GX_EXTERNAL_LIBPNG_INC = $(GX_ROOT)/external/libpng/include
GX_EXTERNAL_LIBPNG_LIB = $(GX_ROOT)/external/libpng/lib/$(GX_OS_DIR_NAME)/liblibpng.a

GX_EXTERNAL_LIBJPEG_INC = $(GX_ROOT)/external/libjpeg/include $(GX_ROOT)/external/libjpeg/include/$(GX_OS_DIR_NAME)
GX_EXTERNAL_LIBJPEG_LIB = $(GX_ROOT)/external/libjpeg/lib/$(GX_OS_DIR_NAME)/liblibjpeg.a

GX_EXTERNAL_FREETYPE_INC = $(GX_ROOT)/external/freetype/include
GX_EXTERNAL_FREETYPE_LIB = $(GX_ROOT)/external/freetype/lib/$(GX_OS_DIR_NAME)/libfreetype.a

GX_EXTERNAL_INCS = $(GX_EXTERNAL_ZLIB_INC) $(GX_EXTERNAL_LIBPNG_INC) $(GX_EXTERNAL_LIBJPEG_INC) $(GX_EXTERNAL_FREETYPE_INC)
GX_EXTERNAL_LIBS = $(GX_EXTERNAL_ZLIB_LIB) $(GX_EXTERNAL_LIBPNG_LIB) $(GX_EXTERNAL_LIBJPEG_LIB) $(GX_EXTERNAL_FREETYPE_LIB)

//core
GX_CORE_HEADER_SEARCH_PATHS = $(GX_ROOT)/core/src

//xcode config
COMPRESS_PNG_FILES[sdk=iphoneos*]           = NO
COMPRESS_PNG_FILES[sdk=iphonesimulator*]    = NO
COMPRESS_PNG_FILES[sdk=appletvos*]          = NO
COMPRESS_PNG_FILES[sdk=appletvsimulator*]   = NO
CLANG_ENABLE_OBJC_ARC                       = NO
ONLY_ACTIVE_ARCH                            = NO
GCC_ENABLE_CPP_RTTI                         = NO
HEADER_SEARCH_PATHS                         = $(inherited) $(GX_CORE_HEADER_SEARCH_PATHS)
OTHER_LDFLAGS                               = $(inherited) $(GX_EXTERNAL_LIBS)
